.header {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 54px 92px 50px;
  justify-content: center;
  align-items: center;
}

.header__links-list {
  display: flex;
  align-items: start;
  font-size: 18px;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link {
  text-underline-offset: 0.25em;
  letter-spacing: 0.01em;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  align-self: start;
}

.header__logo-image {
  max-width: 148px;
  max-height: 105px;
  position: relative;
  left: 8px;
  top: 0px;
  width: min-content;
}

.address {
  justify-self: end;
}

.header__address {
  padding: 0px 32px;
  font-size: 18px;
  font-style: normal;
  justify-self: end;
  line-height: 1.35em;
}

.header__underlined {
  letter-spacing: 0.01em;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25em;
}

.overlay {
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 60%;
  background-color: #000;
}

.cover {
  position: relative;
  display: flex;
  z-index: -2;
  background-image: url(../images/cover.jpg);
  background-position: -135px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-flow: column wrap;
  justify-content: start;
  padding: 165px 50px 38px;
  letter-spacing: 0.3em;
}

.cover__title {
  letter-spacing: 0.3em;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
}

.cover__left__text {
  line-height: 115%;
  display: block;
  text-align: left;
}

.cover__center__text {
  display: block;
  text-align: center;
  padding: 20px;
  line-height: 100%;
}

.cover__right__text {
  display: block;
  text-align: right;
  line-height: 100%;
}

.cover__big__space__letter {
  letter-spacing: 0.6em;
}

.cover__no__space__letter {
  letter-spacing: initial;
}

.cover__description {
  display: flex;
  color: #fff;
  padding: 136px 0px 12px 28px;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description__text {
  word-spacing: 0.9em;

  font-weight: normal;

  letter-spacing: initial;
  line-height: 28px;
}

.accent__less__word__spacing {
  word-spacing: 0.81em;
}

.bet__botton {
  padding: 12px 32px 11px 31px;

  line-height: 28x;
  border: 1px solid #fff;
  font-size: 22px;
  font-weight: medium;
  text-transform: uppercase;
  letter-spacing: initial;
}

.lots {
  padding: 179px 24px 146px 24px;
}

.lots__title {
  padding: 0px 0px 27px 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__cards {
  display: flex;
  gap: 25px;
  align-items: stretch;
}

.card__style {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  flex: 1 0 0px;
  justify-content: space-between;
}

.card__title {
  padding: 51px 40px 0px;
  line-height: 120%;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 0.15em;
}

.card__content {
  padding: 0px 40px 47px;
  line-height: 120%;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
}

.film__story__image {
  position: relative;
  z-index: -2;
  background: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.book__story__image {
  position: relative;
  z-index: -2;
  background: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.picture__story__image {
  position: relative;
  z-index: -2;
  background: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lots__more {
  display: block;
  padding: 30px 0px 0px 40px;
  font-size: 20px;
  font-weight: normal;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25em;
}

.about {
  display: flex;
  align-items: start;
  gap: 70px;
  padding: 37px 24px 157px 72px;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 240px;
  min-height: 240px;
  background: #000;
  border-radius: 50%;
}

.logo__white {
  max-height: 114px;
  max-width: 148px;
}

.about__article {
  padding-top: 102px;
}

.about__header {
  padding-bottom: 99px;
  font-size: 40px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.about__content {
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: normal;
  color: #000;
  line-height: 24px;
  word-spacing: 0.03em;
  letter-spacing: initial;
}

.accent__text__letter__space {
  letter-spacing: 0.01em;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 50px 88px 50px;
  justify-content: space-between;
  align-items: start;
}

.footer__address {
  justify-self: start;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35em;
}

.footer__underlined {
  letter-spacing: 0.01em;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25em;
}

.footer__links-list {
  justify-self: center;
}

.footer__links-list-item {
  text-align: center;
  list-style: none;
  line-height: 21px;
  font-size: 18px;
  text-underline-offset: 0.25em;
}

.footer__link {
  text-decoration: underline;
  letter-spacing: initial;
  text-decoration-thickness: 1px;
}

.footer__link_active {
  text-decoration: none;
}

.emails__logo__links {
  display: flex;
  list-style: none;
  gap: 48px;
  justify-self: end;
}

.emails__logo {
  max-width: 48px;
}
