.header {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 54px 96px 50px;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.header__menu {
}

.header__links-list {
  display: flex;
  align-items: start;
  font-size: 18px;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link {
  text-underline-offset: 0.25em;
  letter-spacing: 0.01em;
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  align-self: start;
}

.header__logo-image {
  width: min-content;
}

.address {
  justify-self: end;
}

.header__address {
  padding: 0px 32px;
  font-size: 18px;
  font-style: normal;
  justify-self: end;
  line-height: 1.35em;
  text-underline-offset: 0.2em;
}

.overlay {
  display: flex;
  flex-flow: column wrap;
  z-index: -1;
  position: relative;
  inset: 0px 0px;
  opacity: 60%;
  background-color: #000000;
}

.cover {
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  padding: 165px 50px 147px;
  font-size: 100px;
  font-weight: bold;
  line-height: 115%;
  background-image: url(../images/cover.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover__left__text {
  justify-self: start;
  align-self: end;
}
